<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8lVT7V3G6aESYGi34BM56N8V4gA_L7XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>944950236461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>meunomeecris.AuthenticationProject</string>
	<key>PROJECT_ID</key>
	<string>authproject-e99df</string>
	<key>STORAGE_BUCKET</key>
	<string>authproject-e99df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944950236461:ios:76cbcfe96cfd5095ccafa4</string>
</dict>
</plist>